{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>ChatBot</title>
</head>

<body>
<header>
<div class="topnav">
  <a class="active" href="home/">Home</a>
  <a href="news/">News</a>
  <a href="#contact">Contact</a>
    <a href="#about">About</a>
  <div class="topnav-right">
    <a href="login/">Login</a>
    <a href="signup/">SignUp</a>
  </div>
</div>
</header>
<section class="main-content">
    <article>
        <h2>Welcome to ChatBot</h2>
        <p>Chatbots automate workflows and free up employees from repetitive tasks. A chatbot can also eliminate long wait times for phone-based customer support, or even longer wait times for email, chat and web-based support, because they are available immediately to any number of users at once.</p>
    </article>
</section>
<footer>
    <p>&copy; 2023 ChatBot. All rights reserved.</p>
</footer>
</body>
</html>